<h1>Enter Date Range</h1>
<%= form_tag("/generate", method: "get") do %>
	<%= label_tag :hashtag, '#' %>
	<%= text_field_tag :hashtag %> 
	<%= label_tag :start_date, "Start Date:" %>
	<%= date_field_tag :start_date %>
	<%= submit_tag "Submit", class: 'button radius' %>
<% end %>